<header>
    <nav class="navbar navbarTema">
        <div class="container-fluid ">
            <span class="navbar-brand mb-0 h1 tituloSecundario">ShadowByteWeb</span>
            <button id="btnConfiguraciones" class="btn btn-rojo"
                type="button"
                data-bs-toggle="offcanvas"
                data-bs-target="#offcanvasScrolling"
                aria-controls="offcanvasScrolling">
                <i class="fa-solid fa-gear"> </i> Configuración
            </button>
        </div>
    </nav>
</header>
<app-offcanvas></app-offcanvas>